.range-vertical {
    display: inline-block;
    width: 20px;
    height: 150px;
    padding: 0;
}
.range-vertical input {
    width: 150px;
    height: 20px;
    transform-origin: 75px 75px;
    transform: rotate(-90deg);
}