<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
    <div class="row lighten-5">
        <div class="col s12">Filtros:</div>
        <div class="col s12">
          <form #userUpdateForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col s12"><p>Reacciones:</p></div>  
              <div class="col s2">
                <p>Likes: {{filters.likes}}</p>
                <div class="range-vertical"><input type="range" min="0" max="10" #likes="ngModel" name="likes" [(ngModel)]="filters.likes"></div>
              </div>
              <div class="col s2">
                <p>Love's: {{filters.loves}}</p>
                <div class="range-vertical"><input type="range" min="0" max="10" #loves="ngModel" name="loves" [(ngModel)]="filters.loves"></div>
              </div>
              <div class="col s2">
                <p>Haha's: {{filters.hahas}}</p>
                <div class="range-vertical"><input type="range" min="0" max="10" #hahas="ngModel" name="hahas" [(ngModel)]="filters.hahas"></div>
              </div>
              <div class="col s2">
                <p>Wow's: {{filters.wows}}</p>
                <div class="range-vertical"><input type="range" min="0" max="10" #wows="ngModel" name="wows" [(ngModel)]="filters.wows"></div>
              </div>
              <div class="col s2">
                <p>Sad's: {{filters.sads}}</p>
                <div class="range-vertical"><input type="range" min="0" max="10" #sads="ngModel" name="sads" [(ngModel)]="filters.sads"></div>
              </div>
              <div class="col s2">
                <p>Angries: {{filters.angries}}</p>
                <div class="range-vertical"><input type="range" min="0" max="10" #angries="ngModel" name="angries" [(ngModel)]="filters.angries"></div>
              </div>              
            </div>
            <div class="row">
              <div class="col s12"><p>Reacciones en comentarios:</p></div>  
              <div class="col s2">
                <p>Likes: {{filters.likes_com}}</p>
                <div class="range-vertical"><input type="range" min="0" max="10" #likes="ngModel" name="likes" [(ngModel)]="filters.likes_com"></div>
              </div>
              <div class="col s2">
                <p>Love's: {{filters.loves_com}}</p>
                <div class="range-vertical"><input type="range" min="0" max="10" #loves="ngModel" name="loves" [(ngModel)]="filters.loves_com"></div>
              </div>
              <div class="col s2">
                <p>Haha's: {{filters.hahas_com}}</p>
                <div class="range-vertical"><input type="range" min="0" max="10" #hahas="ngModel" name="hahas" [(ngModel)]="filters.hahas_com"></div>
              </div>
              <div class="col s2">
                <p>Wow's: {{filters.wows_com}}</p>
                <div class="range-vertical"><input type="range" min="0" max="10" #wows="ngModel" name="wows" [(ngModel)]="filters.wows_com"></div>
              </div>
              <div class="col s2">
                <p>Sad's: {{filters.sads_com}}</p>
                <div class="range-vertical"><input type="range" min="0" max="10" #sads="ngModel" name="sads" [(ngModel)]="filters.sads_com"></div>
              </div>
              <div class="col s2">
                <p>Angries: {{filters.angries_com}}</p>
                <div class="range-vertical"><input type="range" min="0" max="10" #angries="ngModel" name="angries" [(ngModel)]="filters.angries_com"></div>
              </div>              
            </div>
            <div class="row">
              <div class="row"><p>Otros:</p></div>
              <div class="col s2">
                <p>Compartidos: {{filters.comps}}</p>
                <div class="range-vertical"><input type="range" min="0" max="10" #comps="ngModel" name="comps" [(ngModel)]="filters.comps"></div>
              </div>
              <div class="col s2">
                <p>Comentarios: {{filters.comments}}</p>
                <div class="range-vertical"><input type="range" min="0" max="10" #comments="ngModel" name="comments" [(ngModel)]="filters.comments"></div>
              </div>
            </div>
            <div class="row">              
              <div class="col s3">
                  <button type="submit" class="waves-effect waves-light btn pulse">Filtrar</button>
              </div>
              <form>
                <div class="col s3"><p style="display: inline">Excluir</p>
                  <div class="switch">
                    <label>
                      Off
                      <input type="checkbox" [(ngModel)]="filters.exclude" name="excludes">
                      <span class="lever"></span>
                      On
                    </label>
                  </div></div>
                <div class="col s3"><p style="display: inline">Por pagina</p><input type="text" [(ngModel)]="perPage" name="paginator"></div>
              </form>
              <div class="col s12" *ngIf="isCharging">
                <div class="progress">
                    <div class="indeterminate"></div>
                </div>      
              </div>
            </div>
          </form>
        </div>
    </div> 
    <div class="row lighten-4">
      <div class="col s3">Resultados:</div>
      <div class="col s9">
        <p>Se encontraron {{total}} coincidencias.</p>
      </div>
      <div class="col s12">
        <table>
          <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
            </tr>
          </thead>
  
          <tbody>
            <tr *ngFor="let res of result">
              <td>{{res.userInfo.facebook_usuario_id}}</td>
              <td>{{res.userInfo.nombre}}</td>              
            </tr>            
          </tbody>
        </table>
        <div class="row">
          <div class="col s6">
            <ul class="pagination">
              <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
              <li *ngFor="let i of pages" [class.active]="i==page" [class.waves-effect]="i!=page" (click)="goPage(i)"><a href="#!">{{i}}</a></li>
              <!-- <li class="active"><a>1</a></li>
              <li class="waves-effect"><a>2</a></li> -->
              <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
            </ul>
          </div>
          <div class="col s3"><p>Mostando del {{start}} a {{perPage}}.</p></div>
          
        </div>
        
        
      </div>
    </div>
    <div class="row lighten-6">
      <div class="col s12">Grafica:</div>
      <div class="col s12">
        <div id="interactions_grafic"></div>
        <div id="com_grafic"></div>
      </div>
    </div>
</div>